.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #6a0572;
  position: relative;
  background-color: #f8e1f4;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content {
  max-width: 50%;
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.05rem;
  margin-bottom: 2rem;
}

.hero-buttons button {
  margin-right: 1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  border: none;
  color: white;
  background-color: #ff85a2;
  cursor: pointer;
}

.hero-buttons button:hover {
  background-color: #ff5a7f;
}

.hero-image img {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  margin-left: 100px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-image img {
    margin-left: 0;
    max-width: 100%;
  }
}
