.specials {
  display: block;
  text-align: center;
  padding: 2rem;
  background-color: #f0e4ff;
}

.specials h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #6a0572;
}

.specials p {
  font-size: 1.05rem;
  margin-bottom: 5rem;
  color: #333;
}

.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
  justify-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .specials h2 {
    font-size: 1.5rem;
  }

  .specials p {
    font-size: 1rem;
    margin-bottom: 2rem;
  }
}

.view-more-button {
  margin-top: 5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #71b8e7;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 4rem;
}

.view-more-button:hover {
  background-color: #349be4;
}
